name: Build & Push Docker Image to ACR

on:
  workflow_dispatch:
  # push:
  #   branches:
  #     - main


permissions:
  id-token: write
  contents: read

env:
  IMAGE_NAME: todo-ui
  IMAGE_TAG: v1
  ACR_NAME: acrrg2
  ACR_LOGIN_SERVER: acrrg2.azurecr.io

jobs:
  build_and_push:  #job id
    name: build and push #job name
    runs-on: ubuntu-latest #runner and tag dena padta h
    
    steps:
    - name: Checkout
      uses: actions/checkout@v6.0.2

    - name: Azure Login
      uses: Azure/login@v2.3.0
      with:
        # ClientId of the Azure Service principal created.
        client-id: 9750216e-9277-49dd-8678-cf59643ecc6b
        # TenantId of the Azure Service principal created.
        tenant-id: d37aee34-5a74-406c-b715-bf65c026f58b
        subscription-id: 580eec40-34b7-4c9b-ba06-bd14c2347042
    
    - name: Login to ACR
      run: |
        az acr login --name $ACR_NAME

    - name: Build Docker image
      run: |
        docker build -t $IMAGE_NAME:$IMAGE_TAG .
    
    - name: Tag Docker Image for ACR
      run: |
        docker tag  $IMAGE_NAME:$IMAGE_TAG $ACR_LOGIN_SERVER/$IMAGE_NAME:$IMAGE_TAG
      
    - name: Push Docker image to ACR
      run: |
        docker push $ACR_LOGIN_SERVER/$IMAGE_NAME:$IMAGE_TAG 


